// Colors
$main: #29f882
$danger: #cd2819
$dark-canvas: #171723

// ltr
$start: left
$end: right

// margins
$margin-1: .5rem
$margin-2: .10rem
$margin-3: 2rem
$margin-4: 4rem
  
// Transitions
$smooth: cubic-bezier(0.010, 0.830, 0.000, 0.955)