@import '~minireset.css/minireset.sass';
@import './_fonts.sass';
@import './_vars.sass';
@import './_atomic.sass';
@import './animated-background.sass';

html, body, #app-container
  font-family: 'Stratum', 'verdana'
  height: 100%
  background: linear-gradient(to right bottom, #34344f, #2c2c44, #252538, #1d1d2d, #161623);
  overflow: hidden
  position: relative

h1
  font-size: 1.5rem

.content-wrapper
  height: 100vh
  overflow: scroll

.main-container
  position: absolute
  left: 0
  right: 0
  overflow-y: scroll
  //border-radius: .3rem
  color: white
  height: 100vh
  //margin-top: 4rem
  //max-width: 500px
  //margin-right: auto
  //margin-left: auto
  //padding: $margin-4 $margin-4 $margin-4 $margin-4
  //background: $dark-canvas
  background-image: linear-gradient(to right top, #14141f, #161722, #191926, #1b1c29, #1e1e2d);
  .content
    overflow-y: scroll
    padding: $margin-3
    min-height: calc(100% - 58px);
  .mobile-footer
    text-align: center
    background: #222
    padding: 1.2rem
    a
      color: #aaa
      text-decoration: underline
      padding-left: 1rem

@include breakpoint-gt(large-phone)
  .main-container
    border-radius: .3rem
    height: auto
    margin-top: 4rem
    max-width: 480px
    max-height: 800px
    margin-right: auto
    margin-left: auto
    padding: $margin-3
  .mobile-footer
    display: none

.divider
    width: 100%
    height: 2px
    background-image: linear-gradient(to right, rgba(0,0,0,0), #34344f, rgba(0,0,0,0))
    margin-top: 1.5rem
    margin-bottom: 1.5rem
