@import '../../styles/_vars.sass' 
@import $appRoot/src/styles/_responsive.scss

.payments-header
  .title-container
    display: flex
    flex-direction: column
    h1 
      font-size: 2rem
  img
    width: 100%
    margin-right: 1rem
  .summary-table
    text-transform: uppercase
    margin: auto
    color: 	#FFD700
    font-size: 1.3rem
    td:first-child
      padding-right: $margin-1
      color: #FFF
.tx-type
  text-transform: uppercase
  color: $main
  font-size: 2rem
  text-align: center

@include breakpoint-gt(small-phone)
  
