@import '../../styles/_vars.sass' 
@import $appRoot/src/styles/_responsive.scss

.payments-header
  .powered-by
    display: flex
    align-items: center
    justify-content: flex-end
    margin-top: 1.5rem
    margin-bottom: 1rem
    font-size: .8rem
    color: #AAA
    img
      height: 13px
      width: 13px
      margin: 0 4px 0 4px
  .title-container
    display: flex
    flex-direction: column
    h1 
      font-size: 2rem
    img
      width: 100%
      margin: auto
      margin-bottom: 1.5rem
  .summary-table
    text-transform: uppercase
    margin: auto
    color: #FFD700
    font-size: 1.3rem
    td:first-child
      padding-right: $margin-1
      color: #FFF
.tx-type
  text-transform: uppercase
  color: $main
  font-size: 2rem
  text-align: center
